html {
    scroll-behavior: smooth;

}

.preloader {
    background: #F0F0F0 url('https://createwebsite.net/wp-content/uploads/2015/09/Spinnner.gif') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10000;
}

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    background: url('https://i.pinimg.com/originals/85/6f/31/856f31d9f475501c7552c97dbe727319.jpg') no-repeat;
    background-attachment: fixed;
}

#logo:hover {
    transform: scale(1.1);
}